<div class="users-container">
  <div class="secondary-nav">
    <h1>Utenti</h1>

    <app-button
      icon="add"
      text="Aggiungi utente"
      (clickEvent)="openAddUser()"
      variant="primary"
    ></app-button>
  </div>
  <!-- I filtri andranno qui -->
  <div class="filters-section">
    <app-user-filters></app-user-filters>
  </div>

  <!-- La tabella andrà qui -->
  <div class="table-section">
    <app-table
      [data]="users()"
      [columns]="userColumnDefinitions"
      [currentPage]="currentPage()"
      [itemsPerPage]="pageSize()"
      [paginated]="true"
      [totalResults]="totalElements()"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)"
    ></app-table>
  </div>
</div>
