<div class="users-container">
  <div class="secondary-nav">
    <h1>Utenti</h1>

    <app-button icon="add" text="Aggiungi utente" (clickEvent)="openAddUser()" variant="primary"></app-button>
  </div>
  <!-- I filtri andranno qui -->
  <div class="filters-section">
    <app-user-filters></app-user-filters>
  </div>

  <!-- La tabella andrà qui -->
  <div class="table-section">
    <app-table [data]="users()" [columns]="userColumnDefinitions"></app-table>
  </div>

  <div class="pagination-controls">
    <span>{{ totalElements() }} risultati</span>
    <app-button text="Precedente" (clickEvent)="onPreviousPage()" [disabled]="currentPage() === 0" variant="secondary"></app-button>
    <app-button text="Successiva" (clickEvent)="onNextPage()" [disabled]="currentPage() >= totalPages() - 1" variant="secondary"></app-button>
  </div>
</div>
