<header class="app-header">
  <div class="search-container">
    <i class="material-symbols-outlined">search</i>
    <input type="text" placeholder="Cerca">
  </div>
  <div class="header-actions">
    <i class="material-symbols-outlined">apps</i>
    <i class="material-symbols-outlined">help_center</i>
    <i class="material-symbols-outlined">notifications</i>
    <i class="material-symbols-outlined">settings</i>
    <button class="create-button">
      <i class="material-symbols-outlined">add</i>
    </button>
    <button class="logout-button" (click)="logout()">
      <i class="material-symbols-outlined">logout</i>
    </button>
  </div>
</header>
