<div class="clients-container">
  <div class="secondary-nav">
    <h1>Clienti</h1>

    <app-button
      icon="add"
      text="Aggiungi cliente"
      (clickEvent)="openAddClient()"
      variant="primary"
    ></app-button>
  </div>
  <!-- I filtri andranno qui -->
  <div class="filters-section">
    <app-client-filters></app-client-filters>
  </div>

  <div class="table-section">
    <app-table
      [data]="clients()"
      [columns]="clientColumnDefinitions"
      [currentPage]="currentPage()"
      [itemsPerPage]="pageSize()"
      [paginated]="true"
      [totalResults]="totalElements()"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)"
    ></app-table>
  </div>
</div>
