table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: calc(var(--spacing-unit) * 1.5);
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }

  th {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    font-weight: bold;
    font-size: 0.9em;
  }

  td {
    color: var(--text-color);
    font-size: 0.9em;
  }

  tr:last-child td {
    border-bottom: none;
  }
}
