<form
  [formGroup]="clientForm"
  (ngSubmit)="onSubmit()"
  id="addClientForm"
  class="form-container"
>
  <div class="form-content">
    <div class="form-toggle">
      <label>
        <input type="checkbox" [formControl]="isBusinessClient" />
        Cliente Aziendale
      </label>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
        @if (clientForm.get('email')?.invalid &&
        clientForm.get('email')?.touched) {
        <div class="error-message">Email non valida</div>
        }
      </div>

      <div class="form-group">
        <label for="phoneNumber">Numero di Telefono:</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber" />
        @if (clientForm.get('phoneNumber')?.invalid &&
        clientForm.get('phoneNumber')?.touched) {
        <div class="error-message">Numero di telefono richiesto</div>
        }
      </div>
    </div>

    @if (!isBusinessClient.value) {
    <h3>Dati Cliente Privato</h3>
    <div class="grid grid-cols-2 gap-4">
      <div class="form-group">
        <label for="firstName">Nome:</label>
        <input id="firstName" type="text" formControlName="firstName" />
        @if (clientForm.get('firstName')?.invalid &&
        clientForm.get('firstName')?.touched) {
        <div class="error-message">Nome richiesto</div>
        }
      </div>

      <div class="form-group">
        <label for="lastName">Cognome:</label>
        <input id="lastName" type="text" formControlName="lastName" />
        @if (clientForm.get('lastName')?.invalid &&
        clientForm.get('lastName')?.touched) {
        <div class="error-message">Cognome richiesto</div>
        }
      </div>

      <div class="form-group">
        <label for="fiscalCodePrivate">Codice Fiscale:</label>
        <input
          id="fiscalCodePrivate"
          type="text"
          formControlName="fiscalCodePrivate"
        />
        @if (clientForm.get('fiscalCodePrivate')?.invalid &&
        clientForm.get('fiscalCodePrivate')?.touched) {
        <div class="error-message">Codice Fiscale richiesto</div>
        }
      </div>

      <div class="form-group">
        <label for="birthDate">Data di Nascita:</label>
        <input id="birthDate" type="date" formControlName="birthDate" />
        @if (clientForm.get('birthDate')?.invalid &&
        clientForm.get('birthDate')?.touched) {
        <div class="error-message">Data di nascita richiesta</div>
        }
      </div>

      <div class="form-group">
        <label for="birthPlace">Luogo di Nascita:</label>
        <input id="birthPlace" type="text" formControlName="birthPlace" />
        @if (clientForm.get('birthPlace')?.invalid &&
        clientForm.get('birthPlace')?.touched) {
        <div class="error-message">Luogo di nascita richiesto</div>
        }
      </div>

      <div class="form-group">
        <label for="nationality">Nazionalità:</label>
        <input id="nationality" type="text" formControlName="nationality" />
        @if (clientForm.get('nationality')?.invalid &&
        clientForm.get('nationality')?.touched) {
        <div class="error-message">Nazionalità richiesta</div>
        }
      </div>

      <app-address-form
        class="full-width"
        formGroupName="billingAddressPrivate"
        title="Indirizzo di Fatturazione (Privato)"
        idPrefix="private"
      ></app-address-form>
    </div>
    } @if (isBusinessClient.value) {
    <h3>Dati Cliente Aziendale</h3>
    <div class="grid grid-cols-2 gap-4">
      <div class="form-group">
        <label for="companyName">Nome Azienda:</label>
        <input id="companyName" type="text" formControlName="companyName" />
        @if (clientForm.get('companyName')?.invalid &&
        clientForm.get('companyName')?.touched) {
        <div class="error-message">Nome Azienda richiesto</div>
        }
      </div>

      <div class="form-group">
        <label for="vatNumber">Partita IVA:</label>
        <input id="vatNumber" type="text" formControlName="vatNumber" />
        @if (clientForm.get('vatNumber')?.invalid &&
        clientForm.get('vatNumber')?.touched) {
        <div class="error-message">Partita IVA richiesta</div>
        }
      </div>

      <div class="form-group">
        <label for="fiscalCodeBusiness">Codice Fiscale (Azienda):</label>
        <input
          id="fiscalCodeBusiness"
          type="text"
          formControlName="fiscalCodeBusiness"
        />
        @if (clientForm.get('fiscalCodeBusiness')?.invalid &&
        clientForm.get('fiscalCodeBusiness')?.touched) {
        <div class="error-message">Codice Fiscale (Azienda) richiesto</div>
        }
      </div>

      <app-address-form
        formGroupName="legalAddress"
        title="Indirizzo Legale"
        idPrefix="legal"
        class="full-width"
      ></app-address-form>

      <app-address-form
        formGroupName="billingAddressBusiness"
        title="Indirizzo di Fatturazione (Azienda)"
        idPrefix="business"
        class="full-width"
      ></app-address-form>
    </div>
    }
  </div>
</form>

<ng-template appDialogFooter>
  <div class="form-footer">
    <app-button
      (click)="close()"
      variant="secondary"
      text="Annulla"
    ></app-button>
    <app-button
      type="submit"
      form="addClientForm"
      variant="primary"
      text="Aggiungi Cliente"
      [isLoading]="isLoading()"
    ></app-button>
  </div>
</ng-template>
