@use '../../../scss/abstracts/variables' as v;

.spinner {
  border: 4px solid v.$color-gray-light;
  border-top: 4px solid v.$color-primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
