.sidebar-container {
  width: 250px;
  background-color: #fff;
  height: 100vh;
  padding: calc(var(--spacing-unit) * 2);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacing-unit) * 3);

  .logo {
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 1.5);
    border-radius: 4px;
    margin-right: var(--spacing-unit);
    font-weight: bold;
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.5em;
    color: var(--text-color);
  }

  .material-symbols-outlined {
    margin-left: auto;
    color: var(--text-light-color);
    cursor: pointer;
  }
}

.sidebar-search {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: var(--spacing-unit);
  margin-bottom: calc(var(--spacing-unit) * 3);

  .material-symbols-outlined {
    color: var(--text-light-color);
    margin-right: var(--spacing-unit);
  }

  input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: var(--text-color);

    &::placeholder {
      color: var(--text-light-color);
    }
  }
}