<div class="sidebar-container">
  <div class="sidebar-header">
    <span class="app-initial">T</span>
    <span class="app-name">Test</span>
    <i class="material-symbols-outlined">expand_more</i>
  </div>

  <nav class="sidebar-nav">
    <app-sidebar-menu [items]="navigationItems" (itemClicked)="onMenuItemClicked($event)"></app-sidebar-menu>

    <p class="menu-section-title">Appartamenti</p>
    <app-sidebar-menu [items]="appartamentiSection" (itemClicked)="onMenuItemClicked($event)"></app-sidebar-menu>

    <p class="menu-section-title">Liste</p>
    <app-sidebar-menu [items]="[listeSection]" (itemClicked)="onMenuItemClicked($event)"></app-sidebar-menu>
  </nav>

</div>
